body {
  font-family: TS-Reg, sans-serif;
}

.container {
  width: 1092px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.gap {
  gap: 10px;
}

.smalltopmargin {
  margin-top: 10px;
}

/*<-- Header -->*/

header {
  border-bottom: 1px solid #e0e0e0;
}

header div {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

header img {
  width: 200px;
}

header nav div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-weight: bold;
}

nav button {
  margin: auto 0;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 15px;
  color: white;
  background-color: black;
  border-radius: 20px;
}
